@charset "UTF-8";

/* 
    em HTML é id = em CSS é # 
    em HTML é class = em CSS é .
*/ 

body {
    background-color: #E2D3FF;
    font-family: Arial, Helvetica, sans-serif;
}

h1#diferente {
    text-align: center;
    background-color: #CDB8FF;
    color: #69529E;
}

h1 {
    color: #AD92EB;
}

h2 {
    color: #AF91EB;
}

.basico {
    color: purple;
}

.intermediario {
    color: rgb(240, 87, 113);
}

.avancado {
    color: lightcoral;
}